[Unit]
Description=Cockpit — web-based server manager
After=network-online.target
Wants=network-online.target

[Container]
Image=quay.io/cockpit/ws:latest
ContainerName=cockpit-ws
Volume=/:/host
Volume=/etc/ssl/tailscale:/etc/ssl/tailscale:ro
PodmanArgs=--pid host --privileged
Exec=/container/label-run --port 9095
AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=120

[Install]
WantedBy=default.target
