Host *
  AddKeysToAgent yes
  ServerAliveInterval 60
  ServerAliveCountMax 3
  SendEnv BW_SESSION

{% for name, info in machines.items() %}
Host {{ name }}
  HostName {{ info.hostname }}
  User {{ user_login }}

{% endfor %}
