[Container]
Image=docker.io/appflowyinc/gotrue:latest
Environment=GOTRUE_EXTERNAL_GOOGLE_ENABLED={{ 'true' if appflowy_google_client_id else 'false' }}
Environment=GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID={{ appflowy_google_client_id }}
Environment=GOTRUE_EXTERNAL_GOOGLE_SECRET={{ appflowy_google_client_secret }}
Environment=GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI={{ appflowy_external_url }}/gotrue/callback
Environment=GOTRUE_JWT_SECRET={{ appflowy_gotrue_jwt_secret }}
Environment=GOTRUE_DB_DRIVER=postgres
Environment=DATABASE_URL=postgres://appflowy:{{ appflowy_db_password }}@appflowy-db:5432/appflowy?sslmode=disable
Environment=GOTRUE_SITE_URL={{ appflowy_external_url }}
Environment=GOTRUE_URI_ALLOW_LIST={{ appflowy_external_url }}
Network=appflowy.network

[Service]
Restart=always

[Install]
WantedBy=default.target
