[Container]
Image=docker.io/library/postgres:15-alpine
Environment=POSTGRES_USER=appflowy
Environment=POSTGRES_PASSWORD={{ appflowy_db_password }}
Environment=POSTGRES_DB=appflowy
Volume=appflowy-db-data:/var/lib/postgresql/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target
