[Container]
ContainerName=authentik-redis
Image=docker.io/library/redis:7-alpine
Exec=redis-server --requirepass {{ authentik_redis_password }}
Network=authentik

[Service]
Restart=always

[Install]
WantedBy=default.target
