[Unit]
Description=Dotfiles auto-update via ansible-pull
{% if is_laptop | bool %}
After=network-online.target graphical-session.target
Wants=network-online.target
PartOf=graphical-session.target
{% else %}
After=network-online.target
Wants=network-online.target
{% endif %}

[Service]
Type=oneshot
ExecStart={{ brew_prefix }}/bin/ansible-pull -U https://github.com/hanthor/dotfiles -C master -d {{ ansible_facts['env']['HOME'] }}/.local/share/dotfiles -i inventory.yml -l {{ inventory_hostname }} site.yml
Environment="PATH={{ brew_prefix }}/bin:%h/.local/bin:/usr/local/bin:/usr/bin:/bin"

{% if is_laptop | bool %}
[Install]
WantedBy=graphical-session.target
{% endif %}
