[Container]
ContainerName=netbox-redis
Image=docker.io/library/redis:7-alpine
Network=netbox.network
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
