[Unit]
Description=NetBox RQ Worker
After=netbox-postgres.service netbox-redis.service
Requires=netbox-postgres.service netbox-redis.service

[Container]
Image=ghcr.io/netbox-community/netbox:v4.2
Network=netbox.network
Volume=netbox-media.volume:/opt/netbox/netbox/media
EnvironmentFile=/etc/netbox/netbox.env
Exec=/opt/netbox/venv/bin/python /opt/netbox/netbox/manage.py rqworker
AutoUpdate=registry

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target default.target
