[Unit]
Description=NetBox PostgreSQL
After=network-online.target

[Container]
ContainerName=netbox-postgres
Image=docker.io/library/postgres:16-alpine
Network=netbox.network
Volume=netbox-postgres.volume:/var/lib/postgresql/data:Z
Environment=POSTGRES_DB=netbox
Environment=POSTGRES_USER=netbox
EnvironmentFile=/etc/netbox/postgres.env
# Disable Unix sockets — NetBox connects via TCP
Exec=postgres -c unix_socket_directories=''
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
