[Unit]
Description=NetBox
After=netbox-postgres.service netbox-redis.service
Requires=netbox-postgres.service netbox-redis.service

[Container]
ContainerName=netbox
User=root
Image=ghcr.io/netbox-community/netbox:v4.1
Network=netbox.network
Volume=netbox-media.volume:/opt/netbox/netbox/media:Z
# Sockets and temp files
Volume=tmpfs:/run:rw,size=64m
Volume=tmpfs:/tmp:rw,size=64m
EnvironmentFile=/etc/netbox/netbox.env
PublishPort=127.0.0.1:8080:8080
Privileged=true
AutoUpdate=registry
Label=homepage.name=NetBox
Label=homepage.group=Infrastructure
Label=homepage.icon=netbox.png
Label=homepage.href=https://bihar:8444
Label=homepage.description=Network source of truth

[Service]
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target default.target
