DB_HOST=netbox-postgres
DB_NAME=netbox
DB_USER=netbox
DB_PASSWORD={{ netbox_db_password }}

REDIS_HOST=netbox-redis
REDIS_CACHE_HOST=netbox-redis

SECRET_KEY={{ netbox_secret_key }}

SUPERUSER_NAME=admin
SUPERUSER_EMAIL={{ user_email }}
SUPERUSER_PASSWORD={{ netbox_superuser_password }}
SUPERUSER_API_TOKEN={{ netbox_api_token }}

ALLOWED_HOSTS=*
LOGIN_REQUIRED=true
BASE_PATH=netbox

# OIDC SSO (Authentik)
{% if netbox_oidc_client_id | default('') | length > 0 %}
REMOTE_AUTH_BACKEND=social_core.backends.open_id_connect.OpenIdConnectAuth
SOCIAL_AUTH_OIDC_KEY={{ netbox_oidc_client_id }}
SOCIAL_AUTH_OIDC_SECRET={{ netbox_oidc_client_secret }}
SOCIAL_AUTH_OIDC_OIDC_ENDPOINT={{ authentik_external_url }}/application/o/netbox/
REMOTE_AUTH_ENABLED=True
REMOTE_AUTH_AUTO_CREATE_USER=True
LOGIN_REDIRECT_URL=/netbox/
{% endif %}
