[defaults]
inventory = inventory.yml
roles_path = roles
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 3600
stdout_callback = default
result_format = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = false

[ssh_connection]
pipelining = true
