[ -f /home/linuxbrew/.linuxbrew/bin/brew ] && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- if .isDesktop }}
export PATH="$HOME/.local/share/flatpak/exports/bin:$PATH"
{{- end }}
[ -f "$HOME/.cargo/env" ] && . "$HOME/.cargo/env"
