[Unit]
Description=Easy Effects Audio Processor
After=graphical-session.target pipewire.service pipewire-pulse.service
Wants=pipewire.service pipewire-pulse.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=flatpak run com.github.wwmm.easyeffects
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
