Host himachal
  HostName himachal
  User james
  IdentityFile ~/.ssh/himachal_id_ed25519

Host karnataka
  HostName karnataka
  User james
  IdentityFile ~/.ssh/karnataka_id_ed25519

Host dilli
  HostName dilli
  User james
  IdentityFile ~/.ssh/dilli_id_ed25519

Host kanpur
  HostName kanpur
  User james
  IdentityFile ~/.ssh/kanpur_id_ed25519

Host goa
  HostName goa
  User james
  IdentityFile ~/.ssh/goa_id_ed25519

Host bihar
  HostName bihar
  User james
  IdentityFile ~/.ssh/bihar_id_ed25519

Host matrix
  HostName matrix.reilly.asia
  User james
  IdentityFile ~/.ssh/matrix_id_ed25519

Host lkofoss
  HostName lkofoss.club
  User james
  IdentityFile ~/.ssh/lkofoss_id_ed25519
