Host *
  AddKeysToAgent yes
  IdentitiesOnly yes
  ServerAliveInterval 60
  ServerAliveCountMax 3
  IdentityFile ~/.ssh/{{ .machineName }}_id_ed25519

Host himachal
  HostName himachal
  User james

Host karnataka
  HostName karnataka
  User james

Host dilli
  HostName dilli
  User james

Host kanpur
  HostName kanpur
  User james

Host goa
  HostName goa
  User james

Host bihar
  HostName bihar
  User james

Host matrix
  HostName matrix.reilly.asia
  User james

Host lkofoss
  HostName lkofoss.club
  User james
