[user]
	name = {{ user_name }}
	email = {{ user_email }}
	signingkey = ~/.ssh/id_ed25519.pub

[commit]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = {{ ansible_env.HOME }}/.ssh/allowed_signers

[init]
	defaultBranch = main

[format]
	signoff = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential "https://github.com"]
	helper =
	helper = !/bin/sh -c 'command -v gh >/dev/null 2>&1 && gh auth git-credential "$@" || true' --

[credential "https://gist.github.com"]
	helper =
	helper = !/bin/sh -c 'command -v gh >/dev/null 2>&1 && gh auth git-credential "$@" || true' --
