---
netbox:
  url: "{{ netbox_url }}"
  token: "{{ netbox_api_token }}"
  ssl_verify: false

device:
  server_role: "{{ netbox_device_role | default('Server') }}"

network:
  ignore_interfaces: "^(lo|veth|docker|br-|podman|tap|virbr|enp0s31f6).*"
  ignore_ips: ""
  lldp: false

datacenter_location:
  driver: "file:/etc/netbox/datacenter"
  regex: "(.*)"
