[Unit]
Description=Homepage Dashboard
After=network-online.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
Volume=/etc/homepage/config:/app/config
Volume=/run/podman/podman.sock:/var/run/docker.sock:ro
PublishPort=3000:3000
Environment=HOMEPAGE_ALLOWED_HOSTS=*
AutoUpdate=registry

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
