[Container]
Image=docker.io/n8nio/n8n:latest
Environment=DB_TYPE=postgresdb
Environment=DB_POSTGRESDB_HOST=n8n-db
Environment=DB_POSTGRESDB_PORT=5432
Environment=DB_POSTGRESDB_DATABASE=n8n
Environment=DB_POSTGRESDB_USER=n8n
Environment=DB_POSTGRESDB_PASSWORD={{ n8n_db_password }}
Environment=N8N_ENCRYPTION_KEY={{ n8n_encryption_key }}
Environment=WEBHOOK_URL={{ n8n_external_url }}
Environment=N8N_COMMUNITY_PACKAGES_ENABLED=true
Volume=n8n-data:/home/node/.n8n:Z
PublishPort=5678:5678
Network=n8n

[Service]
Restart=always

[Install]
WantedBy=default.target
